@font-face {
  font-family: "GillSans Regular";
  src: url("../fonts/gill/Gill Sans.otf") format("truetype");
}

@font-face {
  font-family: "GillSans Bold";
  src: url("../fonts/gill/Gill Sans Bold.otf") format("truetype");
}

body {
  font-family: "GillSans Regular";
}
