@import "../../../../styles//variables.scss";

.app-layout__top-nav{
  border-bottom: 0.5px solid rgb(114, 114, 114);
}

.app-layout__center-nav{
  display: flex;
  width: 540px;
  height: 56px;
}

.center-nav-button {
  & svg,
  & path {
    transition: fill 0.1s;
  }

  &:hover {
    & svg,
    & path {
      fill: var( --color-berry-purple-dark);
    }
  }
}


@media (min-width: $desktop-break-point) {

 
}
