@import "../../../../styles//variables.scss";

.app-layout {
  width: 100vw;
}

.app-layout .ant-layout,.app-layout .ant-layout-footer {
  background-color: #292929;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.ant-layout-header{
  background-color: transparent;
}

@media (min-width: $desktop-break-point) {

  .app-layout {
    width: 1440px;
  }
}
